[Desktop Entry]
Categories=Utility;Qt;
Comment[en_GB]=Automatically launch Haruna with URLs copied from Stremio
Comment=Automatically launch Haruna with URLs copied from Stremio
Exec=/home/jen/.local/bin/stremio2haruna
GenericName[en_GB]=
GenericName=
Icon=/home/jen/.local/share/icons/hicolor/256x256/apps/Stremio2Haruna.png
MimeType=
Name[en_GB]=Stremio2Haruna
Name=Stremio2Haruna
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-StartupType=None
X-KDE-SubstituteUID=false
X-KDE-Username=
